* {
  box-sizing: border-box;
}

.tweetbox {
  width: 50%;
  padding: 1rem;
}
.warning {
  color: red;
}

.tweetbox_textarea {
  margin-top: 1em;
  box-sizing: border-box;
  height: 5rem;
  border: 2px solid #eee;
  width: 50%;
  border-radius: 10px;

}

.tweetbox_button {
  float: right;
  cursor: pointer;
  border-radius: 5px;
}

.tweertbox_footer {
  width: 50%;
}